[user]
	name = Oscar Arbelaez
	email = oscar@arbelaez.dev
	signingkey = 590C8B8D13D0C135
[init]
	defaultBranch = main
[pull]
	ff = only
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = current
[commit]
	gpgsign = true
[url "git@github.com:"]
    insteadOf = https://github.com/
