configuration {
  modes: "combi,window,drun,run";
  combi-modi: "window,drun,run";
  modi: "window,drun,run";
  font: "JetBrains Mono 14";
}

//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"

@theme "/usr/share/rofi/themes/paper-float.rasi"
