let mapleader = ","

set surround
set commentary

inoremap jj <ESC>
inoremap kk <ESC>

nnoremap <leader>w :w<CR>
nnoremap <leader>x :x<CR>
nnoremap <leader>q :q<CR>

nnoremap <leader>sf :action GotoFile<CR>
